<p id="notice"><%= notice %></p>

<div class="header">
  <h1>Students</h1>
</div>

<div class="container">
      <h3> <%= link_to 'Add Student', new_student_path,  style: "color:white", class:"btn btn-warning center-block"%> </h3>

      <br>
  <table>
    <thead>
      <tr>
        <th>Student Number</th>
        <th>Project Title</th>
        <th>Project PDF</th>      
        <th>Reader 1</th>
        <th>Reader 2</th>
        <th>Reader 3</th>
        <th>Mark 1</th>
        <th>Mark 2</th>
        <th>Mark 3</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.StudentNumber %></td>
          <td><%= student.ProjectTitle %></td>
          <% if student.document.exists? %>
            <td><%= link_to 'PDF', student.document.url(:original, false), style: "color:white", class:"btn-xs btn-primary" %></td>
          <% else %>
            <td><%= 'No PDF uploaded' %></td>
          <% end %>
          
          <% if student.Reader1.empty?%>
              <td><%= student.Reader3 %></td>
          <% else %>

            <% if student.Reader1.empty?%>
                <td><%= student.Reader3 %></td>
            <% else %>
                <td><%= button_tag student.Reader1, class:"btn-xs btn-primary" %></td>
            <% end %>
          <% end %>
          <% if student.Reader2.empty?%>
              <td><%= student.Reader3 %></td>
          <% else %>
          <td><%= button_tag student.Reader2, class:"btn-xs btn-primary" %></td>
          <% end %>
          <% if student.Reader3.empty?%>
              <td><%= student.Reader3 %></td>
          <% else %>
            <td><%= button_tag student.Reader3, class:"btn-xs btn-primary" %></td>
          <% end %>
          <% if student.marks %>
          <% if student.marks.first %>
          <td><%= student.marks.first.final_mark %></td>
          <%else%>
          <td><p>Empty</p></td>
          <% end %>

          <% if student.marks.second%>
          <td><%= student.marks.second.final_mark %></td>
          <%else%>
          <td>Empty</td>
          <% end %>

          <% if student.marks.third%>
          <td><%= student.marks.first.final_mark %></td>
          <%else%>
          <%if student.marks.first && student.marks.second  %>

          <%if (student.marks.first.final_mark - student.marks.second.final_mark).abs >= 10 %>
          <td><%= button_tag "Third marker needed", class:"btn-xs btn-danger" %></td>
          <%else %>
          <td>No third marker needed</td>
          <%end%>
          <%else %>
          <td>Empty</td>
          <% end %>
          <% end %>
          <%end %>
          <td><%= link_to 'Edit', edit_student_path(student), style: "color:white", class:"btn-xs btn-success" %></td>
          <td><%= link_to 'Mark', student_path(student),  style: "color:white", class:"btn-xs btn-success" %></td>
          <td><%= link_to 'Delete', student,  style: "color:white", class:"btn-xs btn-success", method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>