<p id="notice"><%= notice %></p>

<p>
  <strong>Student Number</strong>
  <%= @student.StudentNumber %>
</p>

<p>
  <strong>Project Title</strong>
  <%= @student.ProjectTitle %>
</p>

<p>
  <strong>Project PDF</strong>
  <% if @student.document.exists? %>
  <%= link_to 'PDF', @student.document.url(:original, false) %>
  <%else%>
  <%='No PDF Uploaded'%>
  <%end%>
</p>


<% if @student.marks.first && @student.marks.second && @student.marks.third %>
<%= link_to 'View Marks', student_marks_path(@student), style: "color:white" , class:"btn-sm btn-warning"%> 
<%end%>

<% if !@student.marks.first || !@student.marks.second %>
<p>
  <strong>Reader 1</strong>
  <%= @student.Reader1 %>
  <p> <%= link_to 'Add Mark', new_student_mark_path(@student), style: "color:white" , class:"btn-sm btn-warning"%> </p>
</p>

<p>
  <strong>Reader 2</strong>
  <%= @student.Reader2 %>
  <p> <%= link_to 'Add Mark', new_student_mark_path(@student), style: "color:white" , class:"btn-sm btn-warning"%> </p>
</p>
<%end%>

<% if @student.marks.first && @student.marks.second && !@student.marks.third && @student.Reader3.empty?%>
<%= link_to 'View Marks', student_marks_path(@student), style: "color:white" , class:"btn-sm btn-warning"%> 
<%end%>


<% if @student.marks.first && @student.marks.second && !@student.marks.third && !@student.Reader3.empty?%>
<%= link_to 'View Marks', student_marks_path(@student), style: "color:white" , class:"btn-sm btn-warning"%> 
 <strong>Reader 3</strong>
  <%= @student.Reader3 %>
  <p><%= link_to 'Add Third Mark', new_student_mark_path(@student), style: "color:white" , class:"btn-sm btn-warning"%></p>
<%end%>

<br><br>
<%= link_to 'Edit', edit_student_path(@student), style: "color:white", class:"btn-xs btn-success" %> |
<%= link_to 'Back', students_path, style: "color:white", class:"btn-xs btn-success" %>
