<p id="notice"><%= notice %></p>

<p>
  <strong>Student Number</strong>
  <%= @student.StudentNumber %>
</p>

<p>
  <strong>Project Title</strong>
  <%= @student.ProjectTitle %>
</p>

<p>
  <strong>Project PDF</strong>
  <%= link_to 'PDF', @student.document.url(:original, false) %>
</p>

<p>
  <strong>Reader 1</strong>
  <%= @student.Reader1 %>
  <h3> <%= link_to 'Add Mark', new_student_mark_path(@student), class:"btn btn-warning"%> </h3>
</p>

<p>
  <strong>Reader 2</strong>
  <%= @student.Reader2 %><h3> <%= link_to 'Add Mark', new_student_mark_path(@student), class:"btn btn-warning"%> </h3>
</p>

<% if !@student.Reader3.empty? %>
<p>

  <strong>Reader 3</strong>
  <%= @student.Reader3 %>
  <h3> <%= link_to 'Add Mark', new_student_mark_path(@student), class:"btn btn-warning"%> </h3>
</p>
<% else %>
<p></p>
<% end %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
