<p id="notice"><%= notice %></p>

<p>
  <strong>Student Number</strong>
  <%= @student.StudentNumber %>
</p>

<p>
  <strong>Project Title</strong>
  <%= @student.ProjectTitle %>
</p>

<p>
  <strong>Project PDF</strong>
  <%= link_to 'PDF', @student.document.url(:original, false) %>
</p>

<p>
  <strong>Reader 1</strong>
  <%= @student.Reader1 %>
  <p> <%= link_to 'Add Mark', new_student_mark_path(@student), style: "color:white" , class:"btn-sm btn-warning"%> </p>
</p>

<p>
  <strong>Reader 2</strong>
  <%= @student.Reader2 %>
  <p> <%= link_to 'Add Mark', new_student_mark_path(@student), style: "color:white" , class:"btn-sm btn-warning"%> </p>
</p>

<% if !@student.Reader3.empty? %>
<p>

  <strong>Reader 3</strong>
  <%= @student.Reader3 %>
  <p> <%= link_to 'Add Mark', new_student_mark_path(@student), style: "color:white" , class:"btn-sm btn-warning"%> </p>
</p>
<% else %>
<p></p>
<% end %>
<br>
<%= link_to 'Edit', edit_student_path(@student), style: "color:white", class:"btn-xs btn-success" %> |
<%= link_to 'Back', students_path, style: "color:white", class:"btn-xs btn-success" %>
