<p id="notice"><%= notice %></p>

<p>
  <strong>Student Number</strong>
  <%= @student.StudentNumber %>
</p>

<p>
  <strong>Project Title</strong>
  <%= @student.ProjectTitle %>
</p>

<p>
  <strong>Project PDF</strong>
  <%= @student.ProjectTitle %>
</p>

<p>
  <strong>Reader 1</strong>
  <%= @student.Reader1 %>
</p>

<p>
  <strong>Reader 2</strong>
  <%= @student.Reader2 %>
</p>

<p>
  <strong>Reader 3</strong>
  <%= @student.Reader3 %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
