<%= form_for [:student, @mark], html: {multipart: true} do |f| %>
  <% if @mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mark.errors.count, "error") %> prohibited this grading from being saved:</h2>

      <ul>
      <% @mark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Introduction' %><br>
    <%= f.text_area :input1 %>
    <br>
    <%= f.number_field :weight1 %>
    <%= f.number_field :mark1 %>
  </div>
  <div class="field">
    <%= f.label 'Main' %><br>
    <%= f.text_area :input2 %>
    <br>
    <%= f.number_field :weight2 %>
    <%= f.number_field :mark2 %>
  </div>
  <div class="field">
    <%= f.label 'Conclusion' %><br>
    <%= f.text_area :input3 %>
    <br>
    <%= f.number_field :weight3 %>
    <%= f.number_field :mark3 %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn-xs btn-success"%>
  </div>

<% end %>
