<h1>Final Year Project <%= raw(params[:id]) %> - Correction</h1>
<form data-toggle="validator">
  <div class="field-item" class="form-control">
    <%= label :title,"Introduction"%><br>
    <%= text_area :title, :comment,placeholder:"Comment",rows:"3" ,cols:"50"%>
    <%= number_field(:product, :score, in: 1..100, step: 1,class:"span-6",placeholder:"Score",id:"score1") %>
    <%= number_field(:product, :weight, in: 1..100, step: 1,class:"span-6",placeholder:"Weight", id:"weight1") %>
  </div>
   <div class="field-item" class="form-control">
    <%= label :title,"Main Body", role:"form"%><br>
    <%= text_area :title, :comment,placeholder:"Comment",rows:"3" ,cols:"50"%>
    <%= number_field(:product, :score, in: 1..100, step: 1,class:"span-6",placeholder:"Score",id:"score2") %>
    <%= number_field(:product, :weight, in: 1..100, step: 1,class:"span-6",placeholder:"Weight",id:"weight2") %>
  </div>
   <div class="field-item">
    <%= label :title,"Technicality"%><br>
    <%= text_area :title, :comment,placeholder:"Comment",rows:"3" ,cols:"50"%>
    <%= number_field(:product, :score, in: 1..100, step: 1,class:"span-6",placeholder:"Score",input:"required", id:"score3") %>
    <%= number_field(:product, :weight, in: 1..100, step: 1,class:"span-6",placeholder:"Weight",id:"weight3") %>
  </div>
   
   <div class="field-item">
    <%= label :title,"Conclusion"%><br>
    <%= text_area :title, :comment,placeholder:"Comment",rows:"3" ,cols:"50"%>
    <%= number_field(:product, :score, in: 1..100, step: 1,class:"span-6",placeholder:"Score",id:"score4") %>
    <%= number_field(:product, :weight, in: 1..100, step: 1,class:"span-6",placeholder:"Weight",id:"weight4") %>
    </div>
    <p id="out"></p>
  
  <div class="actions">
    <%= submit class:"btn btn-success" %>
  </div>
</form>
<script>
  $("#score1,#score2,#score3 ,#score4, #weight1,#weight2,#weight3,#weight4")
  .keyup(function() {
    var score1 = Number($( "#score1").val());
    var score2 = Number($( "#score2").val());
    var score3 = Number($( "#score3").val());
    var score4 = Number($( "#score4").val());
    var weight1 = Number($( "#weight1").val())/100;
    var weight2 = Number($( "#weight2").val())/100;
    var weight3 = Number($( "#weight3").val())/100;
    var weight4 = Number($( "#weight4").val())/100;
    var res = (score1*weight1 + score2*weight2 + score3*weight3 + score4*weight4);
    var finalRes = parseFloat(Math.round(res* 100) / 100).toFixed(2);
    $("#out").text(finalRes +"%");
  })
  .keyup();
</script>