<p id="notice"><%= notice %></p>

  <h1>Marks</h1>

  <p>
  <strong>Willis</strong>
  <br>
  <%= Mark.last.input1 %>
  <%= Mark.last.weight1 %>
  <%= Mark.last.mark1 %>
  <br>
  <%= Mark.last.input2 %>
  <%= Mark.last.weight2 %>
  <%= Mark.last.mark2 %>
  <br>
  <%= Mark.last.input3 %>
  <%= Mark.last.weight3 %>
  <%= Mark.last.mark3 %>
  <br>
  <%= Mark.last.final_mark %>
</p>

<%= link_to 'Back', students_path, style: "color:white", class:"btn-xs btn-success" %>
