<!DOCTYPE html>
<html>
<head>
  <title>FypMarkingSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer class="footer">
      <div class="container">
        <p class="text-muted">FYP Marking System  © 2016</p>
        <%= link_to "Home", root_path%>
        
      </div>
    </footer>

</body>
</html>
